:host {
  display: flex;
  flex-direction: column;
  flex: 1;
  min-width: 0;
}

.container--home {
  display: grid;

  grid-template-columns: repeat(auto-fit,
      minmax(min(280px, 100%), 1fr));

  width: 100%;
  max-width: 992px;

  margin: 0 auto;
  padding: 14px;

  gap: 14px;

  box-sizing: border-box;
}