:root {
  --font-family: 'Roboto', sans-serif;

  --font-display-large-size: 57px;
  --font-display-large-line-height: 64px;

  --font-display-medium-size: 45px;
  --font-display-medium-line-height: 52px;

  --font-display-small-size: 36px;
  --font-display-small-line-height: 44px;

  --font-headline-large-size: 32px;
  --font-headline-large-line-height: 40px;

  --font-headline-medium-size: 28px;
  --font-headline-medium-line-height: 36px;

  --font-headline-small-size: 24px;
  --font-headline-small-line-height: 32px;
}